{% load staticfiles %}
{% load humanize %}

<html>
{% include "head.html" %}
<body>
	{% include "nav.html" %}
	
	<div class="container content-wrapper">
	<h3>{{ sub_header }}</h3>
	<div class="col-xs-12 col-lg-12 col-md-12 col-sm-12">
		<form method="post" action="">	
		{% csrf_token %}		
			{{ form.as_table }}
			<button type="submit" class="btn btn-primary">Change Password</button>
		</form>	
	</div>
	</div>
	<div id="footer">
		<center>Developed by <abbr title="A project of NSA, IIITS">Sahal Sajjad</abbr></center>
	</div>
</body>
</html>